body {
  background-color: #373631;
}

h1 {
  font-family: "Droid Sans", sans-serif;
  color: #c1c1b0;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

p {
  font-family: "Droid Sans", sans-serif;
  color: #c1c1b0;
}
