body {
  background-color: #373631;
  margin: 0px;
}

h1 {
  font-family: "Droid Sans", sans-serif;
  color: #ece9e9;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

p {
  font-family: "Droid Sans", sans-serif;
  color: #ece9e9;
}

/* Menu bar stuff */

#menuBarNav {
  display: block;
  background-color: #e04432;
  top: 0px;
  margin: 0px;
  box-shadow: 0px 2px 10px black;
  min-height: 60px;
}

#menuBarNav ul {
  margin: 0px;
  padding: 0px;
}

#menuBarNav ul li {
  display: inline-block;
  font-family: "Droid Sans", sans-serif;
  background-color: #e04432;
  transition: background-color 0.3s;
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 20px;
  width: 72px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  color: #eeeeee;
  text-shadow: 1px 1px 1px black;
}

#menuBarNav ul li a {
  color: #eeeeee;
  text-decoration: none;
}

#menuBarNav ul li:hover {
  background-color: #872d5a;
}

li.dropdown > ul {
  display: none;
  position: absolute;
  top: 60px;
  width: 260px;
  box-shadow: 0px 2px 10px black;
  transform: translateX(-30px);
  text-align: center;
}

li.dropdown:hover > ul {
  display: block;
}

li.dropdown:hover > ul > li {
  display: block;
  min-width: 200px;
}
